<app-navbar></app-navbar>

<!---->

<div class="container zoomIn">
  <div class="card p-2">
    <button class="btn btn-primary w-100 my-4" (click)="infoTabela()">
      <i class="fa fa-refresh"></i>
      Atualizar Tabela
    </button>

    <table class="table table-hover table-bordered table-sm">
      <thead>
        <tr>
          <th *ngFor="let c of allColunas" class="table-light" scope="col ">{{ c }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let itens of allItens">
          <td *ngFor="let c of allColunas" scope="row">{{ itens[c] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
