<app-navbar></app-navbar>

<!---->
<div class="container zoomIn">
  <div class="my-5">
    <button class="btn btn-primary me-5" type="button" (click)="infoFormulario()">
      <i class="fa fa-refresh me-2"></i>
      Atualizar formulário
    </button>
    <button class="btn btn-outline-primary" type="button" (click)="saveFormulario()">
      <i class="fa fa-floppy-o me-2"></i>
      Salvar formulário
    </button>
  </div>

  <div class="card p-3">
    <form [formGroup]="form" class="form-group my-2" *ngFor="let f of allItens; let i = index">
      <div class="col-md-5" *ngIf="f.tipo === 'TEXTO'">
        <label class="form-label">{{ f.titulo }}</label>
        <input [formControl]="form.controls[i]" type="text" class="form-control" value="" />
      </div>

      <div class="col-md-5" *ngIf="f.tipo === 'NUMERICO'">
        <label class="form-label">{{ f.titulo }}</label>
        <input [formControl]="form.controls[i]" type="number" class="form-control" value="" />
      </div>

      <div class="col-md-5" *ngIf="f.tipo === 'SELECAO'">
        <label class="form-label">{{ f.titulo }}</label>
        <select [formControl]="form.controls[i]" class="form-select" required>
          <option selected disabled value="">Selecione uma opção</option>
          <option *ngFor="let opcoes of f.opcoes">{{ opcoes }}</option>
        </select>
      </div>
    </form>
  </div>
</div>
