<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Hammer</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/tabela']">Tabela</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/formulario']">Formulário</a>
        </li>
      </ul>
      <form class="d-flex">
        <button
          class="btn btn-sm btn-outline-secondary px-3 py-2"
          (click)="logout()"
          type="button">
          <i class="fa fa-sign-out fa-1x"></i> Deslogar
        </button>
      </form>
    </div>
  </div>
</nav>
