<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <h5 class="d-flex align-items-center col-md-3 mb-2 mb-md-0">Hammer Consult</h5>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a [routerLink]="['/tabela']" class="nav-link px-2 link-dark">Tabela</a></li>
      <li><a [routerLink]="['/formulario']" class="nav-link px-2 link-dark">Formulario</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button (click)="logout()" type="button" class="btn w-50 btn-outline-secondary me-2">
        <i class="fa fa-sign-out"></i>
        Login
      </button>
    </div>
  </header>
</div>
